.main {
  background-color: #f7f7f7;
  display: flex;
  height: 630px;
  width: 100%;
}

.imagelogo {
  width: 20%;
  margin: 5% 0% 1% 5%;
}

.header {
  font-weight: 600;
  margin: 77px 50px 50px 97px;
}

.emailfrom {
  border-bottom: 2px solid black;
  width: 300px;
  margin-left: 15%;
}
.email_image {
  width: 25px;
}

.email {
  border: none;
  background-color: #f7f7f7;
  width: 250px;
  height: 30px;
}

.passwordfrom {
  border-bottom: 2px solid black;
  margin-top: 2%;
  width: 300px;
  margin-left: 15%;
}
.password_image {
  width: 25px;
}

.password {
  border: none;
  background-color: #f7f7f7;
  width: 250px;
  height: 30px;
}

.forgot_password {
  margin-left: 42%;
  font-size: 14px;
  color: #00000069;
}

.signup {
  width: 48%;
  height: 50px;
  margin-left: 15%;
  font-size: 150%;
  border: none;
  background-color: #38ef31;
  border-radius: 5px;
  color: white;
}

.slider {
  width: 100%;
  /* margin-left: 30%; */
  height: 76%;
  margin-top: 10%;
}

@media (max-width: 870px) {
  .main {
    flex-direction: column;
  }
  .froms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
